<div class="bg-success logo-box" style="width: <%= size %>px; height:
                               <%= size %>; margin: auto;>px;">
  <img src="/svg/wind_turbine.svg" class="logo-img" width="<%= size %>px" height="<%= size %>px">
</div>
