<h5>Public Profile</h5>    
<hr class="bg-light mt-1"/>
<div class="row">
  <div class="col col-12 col-md-7 col-lg-7">
    <form class="form-settings" action="/prosumer/settings/update/profile" method="post">
      <div class="form-group">
        <label for="inputNewName" class="control-label">Name</label>
        <input type="text" id="inputNewName" name="name" class="form-control"
               value="<%= user.name %>" required="">
      </div>
      <div class="form-group">
        <label for="inputNewEmail" class="control-label">Email</label>
        <input type="email" id="inputNewEmail" name="email" class="form-control"
               value="<%= user.email %>" required="">
      </div>
      <button type="submit" id="inputSettings" class="btn btn-success">
        Update Profile
      </button>
    </form>
  </div>
  <div class="col col-12 col-md-5 col-lg-5">
    <div id="changeAvatar">
      <label for="inputAvatar" class="control-label">Profile Picture</label>
      <%- include("../../partials/avatar", {user: user, size: 200})%>
      <div class="dropdown">
        <button class="btn btn-secondary" id="editAvatarButton"
                type="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
          <i class="material-icons">edit</i> Edit
        </button>
        <div class="dropdown-menu"
             aria-labelledby="editAvatarButton">
          <form class="image-uploader" id="formAvatarUpload"
                action="/prosumer/settings/update/avatar"
                method="post" enctype="multipart/form-data"
                cropper-target="#cropper" cropper-modal="#cropModal"
                output-target=".avatar-img" min-width="200" min-height="200"
                max-width="500" max-height="500" aspect-ratio="1">
            <label class="mb-0 dropdown-item">
              Upload image
              <input type="file" name="avatar"
                     accept=".jpg, .png, .jpeg, .gif" id="uploadAvatar" hidden>
            </label>
          </form>
          <% if (user.avatar_filename) { %>
          <form action="/prosumer/settings/revert/gravatar"
                method="post" id="formRevertGravatar">
            <button type="submit" class="dropdown-item">
              Revert to gravatar
            </button>
          </form>
          <% } %>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include("../../partials/image-crop-modal", {
    title: "Crop a new profile picture",
    button: "Set new profile picture"}) %>
