<h5>Security</h5>
<hr class="bg-light"/>
<h6><b>Change Password</b></h6>
<form id="changePassword" class="form-settings" action="/prosumer/settings/changePassword" method="post">
  <div class="form-group">
    <label for="inputPrevPassword" class="control-label">Previous Password</label>
    <input type="password" id="inputPrevPassword" name="prevPassword" class="form-control"
           placeholder="Previous Password" required="">
  </div>
  <div class="form-group">
    <label for="inputNewPassword" class="control-label">New Password</label>
    <input type="password" id="inputNewPassword" name="password" class="form-control"
           placeholder="New Password" required="">
  </div>
  <button type="submit" id="inputSettings" class="btn btn-success">Change Password</button>
</form>
