<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Coal Power Plant Control Panel</title>
    <%- include('../partials/bootstrap-css') %>
    <link rel="stylesheet" type="text/css" href="/css/global-manager.css"> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.js"></script>
    <script type="text/javascript" src="/js/manager/modelled-price-chart.js"></script>
    <script type="text/javascript" src="/js/manager/power-plant-production-updater.js"></script>
  </head>

  <body onload="loadModelledPriceChart(); loadPowerPlantProductionData();"
    onunload="unloadModelledPriceChart(); unloadPowerPlantProductionData();"
    >
    <%- include('./appbar', {active: 'ControlPanel'}) %>
    
    <div class="jumbotron text-center">
      <%- include('../partials/logo-manager', {size: 86}) %>
      <h1>Coal Power Plant Control Panel</h1>
    </div>
    
    <div class="container text-center">

      <h2>Power Plant <span id="plantState" class="badge badge-secondary"></span></h2> 
  
      <div class="row">
        <div class="col-sm-6">
          <h3>Production</h3>
          <p id="plantProduction"></p>
          <p id="plantProductionLevel"></p>
          <p id="plantProductionCapacity"></p>
          <p id="plantProductionVariant"></p>
        </div>
       
        <div class="col-sm-6">
          <h3>Battery</h3>
          <p id="plantBatteryValue"></p>
          <p id="plantBatteryCapacity"></p>
          <p id="plantProductionRatio"></p>
        </div>
      </div>

      <br>

      <div class="row">
        <div class="col-sm-6">
          <form action="/manager/power-plant/update/level" method="POST">
            <label for="levelInput">Set new production level</label>
            <input name="newLevel" class="form-control" type="number" id="levelInput" min="0">
            <button id="btnSetLevel" type="submit" class="btn btn-secondary">Set Level</button>
          </form>
        </div>
        <div class="col-sm-6">
          <form action="/manager/power-plant/update/ratio" method="POST">
            <label for="ratioInput">Set new production ratio</label>
            <input name="newRatio" class="form-control" type="number" id="ratioInput" min="0" max="100">
            <button id="btnSetRatio" type="submit" class="btn btn-secondary">Set Ratio</button>
          </form>
        </div>
      </div>

      <br>
      
      <div class="row">
        <div class="col-sm-12">
          <div class="button-container">
            <form action="/manager/power-plant/start" method="POST">
              <button id="btnStart" type="submit" class="btn btn-primary">Start power plant</button>
            </form>
            <form action="/manager/power-plant/stop" method="POST">
              <button id="btnStop" type="submit" class="btn btn-primary">Stop power plant</button>
            </form>
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="col-sm-12">
          <hr class="mt-5 mb-5">
        </div>
      </div>
  
      <h2>Market</h2> 

      <div class="row">
        <div class="col-sm-6">
          <p id="marketDemand"></p>
          <p id="marketPower"></p>
          <p id="marketPrice"></p>
          <p id="marketActors"></p>
        </div>

        <div class="col-sm-6">
          <form action="/manager/update/price" method="POST">
            <label for="priceInput">Set new price</label>
            <input name="newPrice" class="form-control" type="number" id="priceInput" min="0">
            <button id="btnSetPrice" type="submit" class="btn btn-secondary">Set price</button>
          </form>
        </div>
      </div>

      <br>

      <div class="row">
        <div class="col-sm-12">
          <h3>Modelled Price</h3>
          <canvas id="modelledPricesChart" width="150" height="100" ></canvas>
          <p id="marketModelledPrice"></p>
        </div>
      </div>

    </div>
    <%- include('../partials/bootstrap-js') %>
  </body>
</html>
