<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Manage Prosumers</title>
    <%- include('../partials/bootstrap-css') %>
    <link rel="stylesheet" type="text/css" href="/css/global-manager.css"> 
  </head>
  <body>
    <%- include('./appbar', {active: 'Prosumers'}) %>
    <h1>Hello</h1>
    <%- include('../partials/bootstrap-js') %>
  </body>
</html>
