<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Prosumer Data Overview</title>
    <%- include('../partials/bootstrap-css') %>
    <link rel="stylesheet" type="text/css" href="/css/global.css">
  </head>

  <body>

    <div class="jumbotron text-center">
        <h1>Electricity Price</h1>
        <p id="electricity_price"></p>
    </div>

    <div class="container text-center">
        <div class="row">
            <div class="col-sm-6">
                <h3>Prosumer Data</h3>
                <p id="prosumer_consumption"></p>
                <p id="prosumer_production"></p>
            </div>
            <div class="col-sm-6">
                <h3>Wind speed</h3>
                <p id="wind_speed"></p>
            </div>
        </div>
    </div>

  </body>
</html>

<script>
    /**
     *  Gets the current wind speed by calling simulator Rest API.
     */
    getWindSpeed = async function() {
        const response = await fetch('http://localhost:3000/simulator/wind');
        const windData = await response.json();
        return windData;
    }


    /**
     *  Gets a prosumers data by calling simulator Rest API.
     *  @param id is the id of the prosumer who`s data will be fetched.
     */
    getProsumerData = async function(id) {
        const response = await fetch(`http://localhost:3000/simulator/prosumer/${id}`);
        const prosumerData = await response.json();
        return prosumerData;
    }

    /**
     *  Gets the current wind speed by calling simulator Rest API.
     */
     getElectricityPrice = async function() {
        const response = await fetch('http://localhost:3000/simulator/electricity/price');
        const price = await response.json();
        return price;
    }

    setInterval(async function() {
        var windData = await getWindSpeed();
        document.getElementById("wind_speed").innerHTML = windData.wind_speed.toFixed(3) + " " + windData.unit;

        var prosumerData = await getProsumerData(0);
        document.getElementById("prosumer_consumption").innerHTML = "Consumption: " +
            prosumerData.consumption.toFixed(3) + " " + prosumerData.unit;
        document.getElementById("prosumer_production").innerHTML = "Production: " +
            prosumerData.production.toFixed(3) + " " + prosumerData.unit;

        
        var priceData = await getElectricityPrice();
        document.getElementById("electricity_price").innerHTML = priceData.electricity_price.toFixed(3) + " " + priceData.unit;
    }, 100);
</script>