/*
  Global stylesheet are imported for every file and should only contain common css rules.
  Local stylesheets can be added after importing bootstrap-css.ejs file.
*/

.logo {
    border-radius: 50%;
}

#appBar .logo {
    float: left;
}

#appBar .navbar-title {
    float: right;
    margin-top: 3px;
    margin-left: 8px;
}

.avatar-img {
    border-radius: 50%;
}

#appBar .avatar-img {
    margin: -6px;
}

#appBar {
    text-align: center;
}

.nav-link {
    color: #cdcdcd !important;
}

.active .nav-link {
    color: #fff !important;
}

.nav-link:hover, .nav-link:focus {
    color: #00bc8c !important;
}

#navbarCenter {
    margin-left: 15px;
}

.block-timer-input {
    max-width: 60px;
    display: inline-block;
}

#imageCropperCanvas {
    display: none;
}

.div-alerts .alert {
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
    /* margin-bottom: 15px; */
}

.droppable {
    width: 100%;
    min-height: 200px;
    border: 1px dashed darkgray;
    border-radius: .25rem;
    text-align: center;
    margin: 0;
}

.append-group .form-control {
    margin-top: 1px;
    margin-bottom: 1px;
}

.append-group {
    margin-top: 0.1rem;
    margin-bottom: 0.5rem;
}

.row-spaced-small {
    margin-bottom: 8px;
}

.droppable-info {
    padding: 15px;
    display: inline-block;
    margin: auto;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.form-control {
    background-color: #252525;
    border-color: #444;
    color: #fff;
}

.form-control:focus {
    background-color: #252525;
    border-color: #444;
    color: #fff;
}

hr {
    margin-top: 4rem;
    margin-bottom: 4rem;
    border: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

br {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

input {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}


textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
  border-color: #00bc8d;
  box-shadow: 0 0 0 .2rem rgba(0, 188, 141, 0.25);
  outline: 0;
  z-index: 100 !important;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

input[type=number] {
    -moz-appearance:textfield;
}

.button-container form,
.button-container form div {
    display: inline;
}

.button-container button {
    display: inline;
    vertical-align: middle;
}

.input-block {
    max-width: 50px;
    max-height: 30px;
    display: inline;
}

#cropModal .modal-dialog {
    max-width: 720px;
}

#cropper {
    display: block;
    max-width: 100%;
}

#cropModal .modal-body {
    padding: 0;
}
