/*
  Global stylesheet are imported for every file and should only contain common css rules.
  Local stylesheets can be added after importing bootstrap-css.ejs file.
*/

.logo {
    border-radius: 50%;
}

#appBar .logo {
    float: left;
}

#appBar .navbar-title {
    float: right;
    margin-top: 3px;
    margin-left: 8px;
}

.avatar-img {
    border-radius: 50%;
}

#appBar .avatar-img {
    margin: -6px;
}

#appBar {
    text-align: center;
}

#navbarCenter {
    margin-left: 15px;
}

#imageCropperCanvas {
    display: none;
}

.droppable {
    width: 100%;
    min-height: 200px;
    border: 1px dashed darkgray;
    border-radius: .25rem;
    text-align: center;
    margin: 0;
}

.row-spaced-small {
    margin-bottom: 8px;
}

.droppable-info {
    padding: 15px;
    display: inline-block;
    margin: auto;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.form-control {
    background-color: #252525;
    border-color: #444;
    color: #fff;
}

.form-control:focus {
    background-color: #252525;
    border-color: #444;
    color: #fff;
}


textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
  border-color: #00bc8d;
  box-shadow: 0 0 0 .2rem rgba(0, 188, 141, 0.25);
  outline: 0;
  z-index: 100 !important;
}

