/*
  Signin stylesheet contains css rules about the sign in page.
*/

html, body {
    height: 100%;
}

body {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
}


#main {
    width: 100%;
    max-width: 530px;
    padding: 15px;
    margin: auto;
}


.form-signin {
    width: 100%;
    max-width: 330px;
    margin-left: auto;
    margin-right: auto;
}

.form-signup {
    width: 100%;
    max-width: 400px;
    padding: 32px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
    background-color: white;
    box-shadow: 0px 0px 8px #e9e9e9;
}

.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.form-signup .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
}

.form-signin .form-check {
    margin-bottom: 6px;
}

.form-signin .form-signup-label {
    margin-bottom: 1rem;
}

.form-signin #inputEmail {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    z-index: 1;
}

.form-signin #inputPassword {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    z-index: 1;
}

.div-alerts {
    width: 100%;
    max-width: 530px;
    padding: 15px;
    margin: auto;
    margin-bottom: 32px;
}

#inputSignIn {
    min-width: 100%;
    font-size: 16px;
    padding: 10px;
}
