<form class="form-settings" action="/<%= user.role %>/settings/update/profile" method="post">
  <div class="form-group">
    <label for="inputNewName" class="control-label">Name</label>
    <input type="text" id="inputNewName" name="name" class="form-control"
           value="<%= user.name %>" required="">
  </div>
  <div class="form-group">
    <label for="inputNewEmail" class="control-label">Email</label>
    <input type="email" id="inputNewEmail" name="email" class="form-control"
           value="<%= user.email %>" required="">
  </div>
  <button type="submit" id="inputSettings" class="btn btn-success">
    Update Profile
  </button>
</form>
